mixin top-banner__slide(bg_number, title, min_title, text, link)
	.top-banner__slider_bg(class='top-banner__slider_bg-'+bg_number)
		.container.top-banner__slider_relative
			.top-banner__slider_absolute
				.top-banner__slider_flexbox
					.top-banner__content
						span.top-banner__title= title
							span.top-banner__title_min= min_title
					.top-banner__content
						span.top-banner__text= text
						a(href="portfolio.html").top-banner__link.link__btn= link
						
						
						
mixin services__block_top(className, title, descr)
	.services__block(class="services__block_"+ className)
		.services__icon(class="services__icon_"+ className)
		.services__block_text(class="services__block_text_"+ className)
			h2.services__block_title= title
			span.services__block_descr(class="services__block_descr_"+ className)= descr
			
mixin services__block_bottom(className, title, descr)
	.services__block(class="services__block_"+ className)
		.services__block_text(class="services__block_text_"+ className)
			h2.services__block_title= title
			span.services__block_descr(class="services__block_descr_"+ className)= descr
		.services__icon(class="services__icon_"+ className)
		
		
mixin about__block(imgNumber, title)
	.about__block
		.about__wrap
			header.about__header
				img(src="static/img/content/about__img-"+imgNumber+".jpg" alt=""+title).about__img
			footer.about__footer
				span.about__block_title= title
				.about__social
					a(href="javascript:void(0);" target="_blank").about__link.about__link_skype
					a(href="javascript:void(0);" target="_blank").about__link.about__link_dribbble
					a(href="javascript:void(0);" target="_blank").about__link.about__link_twitter
					a(href="javascript:void(0);" target="_blank").about__link.about__link_google
					
					
mixin contactus__checkbox_wrap(title, className)
	.contactus__checkbox_wrap
		input(type="checkbox" name=""+className id='checkbox_'+className).contactus__checkbox_input
		label(for='checkbox_'+className class='contactus__checkbox_label_'+className).contactus__checkbox_label= title
		

mixin works__block(name, number, filter)
	a(href="javascript:void(0);" class='flavor all '+filter).works__block
		.works__block_header
			img(src="static/img/content/portfolio_img_"+number+".jpg" alt=""+name).works__block_img
		span.works__block_name= name